<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.friend.persistence.FriendDao">
 
 	<select id="findByName">
 		SELECT * FROM tbl_friend
		WHERE f_name LIKE CONCAT('%', #{f_name}, '%')
 	</select>
 
 	<insert id="insert">
	 	INSERT INTO `tbl_friend`
			(`f_seq`,
			`f_name`,
			`f_tel`,
			`f_addr`,
			`f_hobby`,
			`f_rel`)
		VALUES
			(#{f_seq},
			#{f_name},
			#{f_tel},
			#{f_addr},
			#{f_hobby},
			#{f_rel});
 	</insert>
 	
 	<update id="update">
 	UPDATE `tbl_friend`
	SET
		`f_name` = #{f_name},
		`f_tel` = #{f_tel},
		`f_addr` = #{f_addr},
		`f_hobby` = #{f_hobby},
		`f_rel` = #{f_rel}
		WHERE `f_seq` = #{f_seq};
	 	
 	
 	</update>
 
 </mapper> 